/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2274 {
    /* 150px - 350px Top */
    padding: clamp(10rem, 30.95vw, 21.875rem) 1rem 0;
    overflow: hidden;
    position: relative;
    z-index: 10;
    border-bottom-right-radius: var(--sectionBorderRadius);
  }
  #hero-2274 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
  }
  #hero-2274 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #hero-2274 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    width: 100%;
    max-width: 17ch;
    margin: 0 0 1rem;
    color: var(--white);
    position: relative;
  }
  #hero-2274 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: 1.5em;
    width: 100%;
    max-width: 43.75rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
    color: var(--bodyCopyLight);
    opacity: 0.8;
  }
  #hero-2274 .cs-picture {
    width: 100%;
    /* 427px - 581px */
    max-width: clamp(26.6875rem, 50vw, 36.3125rem);
    height: auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 7;
    margin-top: -4rem;
  }
  #hero-2274 .cs-picture img {
    width: 100%;
    height: auto;
  }
  #hero-2274 .cs-image-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  #hero-2274 .cs-background {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  #hero-2274 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-2274 .cs-background1:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #081021;
    opacity: 0.9;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #hero-2274 .cs-background2 {
    height: 100vw;
    max-height: 30rem;
    flex: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2274 {
    padding-bottom: 9.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.625rem;
  }
  #hero-2274 .cs-container {
    justify-content: flex-start;
    flex-direction: row;
  }
  #hero-2274 .cs-content {
    text-align: left;
    width: 53%;
    align-items: flex-start;
  }
  #hero-2274 .cs-picture {
    width: 56%;
    position: absolute;
    bottom: -4.0625rem;
    right: -1.875rem;
  }
  #hero-2274 .cs-image-group {
    flex-direction: row;
  }
  #hero-2274 .cs-background2 {
    width: 25vw;
    height: 100%;
    max-height: 100%;
    border-left: 2px solid var(--primaryBlue);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-2274 {
    /* 100px - 172px */
    padding-bottom: clamp(6.25rem, 12vw, 10.9375rem);
  }
  #hero-2274 .cs-picture {
    width: 45%;
    /* same value as the padding, but opposite */
    bottom: calc(clamp(6.25rem, 12vw, 10.9375rem) * -1);
    /* 32px - 80px */
    right: clamp(2rem, 5vw, 5rem);
  }
  #hero-2274 .cs-background2 {
    width: 32.8125vw;
  }
}

/*-- -------------------------- -->
  <---         Highlights         -->
  <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #Hservices-2274 {
    width: 100%;
    padding: var(--sectionPadding);
    position: relative;
    z-index: 20;
  }
  #Hservices-2274 .cs-container {
    max-width: 80rem;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  #Hservices-2274 .cs-card-group {
    width: 100%;
    max-width: 80rem;
    margin: 0;
    padding: 0;
    /* background-color: var(--white); */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2rem;
  }
  #Hservices-2274 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    grid-column: span 12;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s, border-color 0.3s;
  }
  #Hservices-2274 .cs-item:last-of-type .cs-link {
    /* 32px - 80px top & bottom */
    /* 16px - 80px left & right */
    padding: clamp(2rem, 7vw, 5rem) clamp(1rem, 4vw, 5rem);
    box-sizing: border-box;
  }
  #Hservices-2274 .cs-item:last-of-type .cs-icon {
    width: 4rem;
    margin-bottom: 1.5rem;
  }
  #Hservices-2274 .cs-item:last-of-type .cs-h2 {
    font-size: 1.25rem;
  }
  #Hservices-2274 .cs-item:last-of-type .cs-item-text {
    margin-bottom: 2rem;
  }
  #Hservices-2274 .cs-number {
    font-size: 4.5rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #Hservices-2274 .cs-fake-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0 0 0.25rem 0;
    border-bottom: 1px solid var(--primaryRed);
    color: var(--primaryRed);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    transition: transform 300ms;
  }
  #Hservices-2274 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #Hservices-2274 .cs-background:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--white);
    opacity: 0.9;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1rem;
  }
  #Hservices-2274 .cs-background img {
    width: 100%;
    height: 100%;
    opacity: 0.08;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #Hservices-2274 .cs-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #Hservices-2274 .cs-icon {
    width: 2.5rem;
    height: auto;
    margin: 0 0 1.25rem 0;
  }
  #Hservices-2274 .cs-h2 {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: inherit;
    line-height: 1.2em;
    margin: 0 0 0.5rem 0;
    color: var(--black);
    transition: color 0.3s;
  }
  #Hservices-2274 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyCopyDark);
    transition: color 0.3s, opacity 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #Hservices-2274 .cs-card-group {
    width: 44%;
  }
  #Hservices-2274 .cs-item:last-of-type {
    width: 49%;
    position: absolute;
    right: 0;
    top: calc(clamp(10rem, 20vw, 12.5rem) * -1);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #Hservices-2274 .cs-item:last-of-type {
    width: 37vw;
    max-width: 25rem;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #Hservices-2274 {
    padding: 0;
  }
  #Hservices-2274 .cs-card-group {
    width: 53.75rem;
    padding: 3.75rem 0;
    column-gap: 1.25rem;
  }
  #Hservices-2274 .cs-item {
    grid-column: span 4;
  }
  #Hservices-2274 .cs-item:last-of-type {
    top: auto;
    bottom: 0;
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1645 {
    padding: var(--sectionPadding);
    background-color: var(--primaryBlue);
    border-radius: var(--sectionBorderRadius) 0 var(--sectionBorderRadius) 0;
  }
  #services-1645 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(2.5rem, 3.9vw, 4rem);
  }
  #services-1645 .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
  }
  #services-1645 .cs-topper {
    color: var(--bodyCopyLight);
  }
  #services-1645 .cs-title {
    color: var(--white);
  }
  #services-1645 .cs-text {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: var(--bodyCopyLight);
  }
  #services-1645 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #services-1645 .cs-card-group {
    width: 100%;
    max-width: 50.1875rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    /* prevents flexbox from squishing it */
    flex: none;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #services-1645 .cs-item {
    list-style: none;
    /* .cs-h3 and .cs-item-text both use text-align: inherit, so change the below to affect the whole item */
    text-align: left;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    /* 20px - 48px */
    padding: clamp(1.5rem, 3.2vw, 2rem);
    background-color: var(--white);
    border: 1px solid var(--extraBG);
    display: flex;
    flex-direction: column;
    transition: border-color 0.3s;
    /* 16px - 24px */
    gap: clamp(1rem, 1.5vw, 1.5rem);
    grid-column: span 12;
    border-radius: 1rem;
  }
  #services-1645 .cs-icon {
    width: 3rem;
    height: auto;
    margin: 0;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #services-1645 .cs-h3 {
    font-size: 1.25rem;
    text-align: inherit;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--black);
    transition: color 0.3s;
  }
  #services-1645 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyCopyDark);
    opacity: 0.8;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1645 .cs-item {
    flex-direction: row;
    grid-column: span 6;
  }
}
/* Large Desktop - 1024px */
@media only screen and (min-width: 80rem) {
  #services-1645 .cs-container {
    flex-direction: row;
  }
  #services-1645 .cs-content {
    align-items: flex-start;
    text-align: left;
  }
}

/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-12 {
    padding: var(--sectionPadding);
  }
  #why-choose-12 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-12 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #why-choose-12 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primaryRed);
    margin-bottom: 0.25rem;
    display: block;
  }
  #why-choose-12 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--black);
    position: relative;
  }
  #why-choose-12 .cs-text {
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyCopyDark);
  }
  #why-choose-12 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.75rem;
  }
  #why-choose-12 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    max-width: 22.5rem;
    margin: 0;
    padding: 0;
  }
  #why-choose-12 .cs-picture {
    /* 68px - 88px */
    width: clamp(4.25rem, 7vw, 5.5rem);
    height: clamp(4.25rem, 7vw, 5.5rem);
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-color: var(--primaryRed);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #why-choose-12 .cs-picture img {
    width: auto;
    height: 2.625rem;
    display: block;
  }
  #why-choose-12 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--black);
  }
  #why-choose-12 .cs-item-text {
    font-size: 1rem;
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyCopyDark);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-12 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
